body{
     font-family: play,sans-serif;
   }
   td,tr,th{
    border-width:5px;
    border-style:solid;
    border-color: white;
  }
  tr{
   background-color: transparent !important;
  }
.carousel-indicators [data-bs-target]{
    width: 17px;
     height: 17px;
     border-radius: 50%;
     background-color: rgb(240, 238, 238);
     margin: 10px;
     /* position: inherit; */
     transition-property: all;
     transition-duration: 0.3s;
     transition-timing-function: ease-out;
     transition-delay:0;
}
.carousel-indicators .active{
     width: 25px;
     height: 25px;
     transform: translateY(-2.5px);
     border-width: 2px;
     border-color: rgb(3, 255, 3);
     border-style: solid;
     background-color: rgba(240, 248, 255, 0);
}
.carousel-indicators [data-bs-target]:hover{
background-color: rgb(3, 255, 3);
}

/* better us */
span.circle:hover{
     background-color: rgb(3, 255, 3);
     transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
   }
   
 .Us-better{
   background: url('../img/homebg1.jpg');
   background-size: cover;
 }
 
 .Uter{
   padding-left:15px;
   padding-right:15px;
 }
 .fa-thumbs-up::before,
 .fa-user::before,
 .fa-location-arrow::before{
 transform: scale(3.5);
 }
 .circle{
   width: 128px;
   height: 128px;
   border-radius:50%;
   border-width: 1px;
   border-color:black ;
   border-style: solid;
 
   /* padding: 220px; */
 }
 
 .cir{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
 }




/* navbar */

.contain{
  max-width: 60rem;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  position: absolute;
  z-index: 15;
}

.logo-container{
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn{
  flex: 3;
  display: flex;
}

.nav-links{
  flex: 2;
}
.logo{
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
  position: absolute;
  z-index: 15;
  margin-top: 180px;
  margin-left: 120px;
}

.logo span{
  font-weight: 300;
}

.btn{
  display: inline-block;
  padding: .5rem 1.3rem;
  font-size: .8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 .2rem;
  transition: .3s;
  text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
  background-color: #fff;
  color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
  background-color: transparent;
  color: #fff;
}



.nav-link{
  position: relative;
}

.nav-link > a{
font-weight: bold;
  line-height: 3rem;
  color: rgb(54, 52, 52);
  padding: 0 .8rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  transition: .5s;
}

.nav-link > a > i{
  margin-left: .2rem;

}

.nav-link:hover > a{
  color: rgb(3, 255, 3);
}

.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.dropdown ul{
  position: relative;
}

.dropdown-link > a{
  display: flex;
  background-color: #fff;
  color: #3498db;
  padding: .5rem 1rem;
  font-size: .9rem;
  align-items: center;
  justify-content: space-between;
  transition: .3s;
}


.dropdown-link:not(:nth-last-child(2)){
  border-bottom: 1px solid #efefef;
}

.dropdown-link i{
  transform: rotate(-90deg);
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}
.dropdown-link{
  position: relative;
}

.dropdown.second{
  top: 0;
  left: 70%;
  padding-left: .8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container{
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div{
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before{
  transform: translateY(-7px);
}

.hamburger-menu div:after{
  transform: translateY(7px);
}

#check{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  background-color: #3498db;
  /* display: none; */
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
  transform: translateY(0) rotate(45deg);
}

@keyframes animation{
  from{
      opacity: 0;
      transform: translateY(15px);
  }
  to{
      opacity: 1;
      transform: translateY(0px);
  }
}
@media (min-width:920px) {
.nav-links > ul{
  display: flex;
  align-items: center;
  /* transform: translateX(50%); */
  margin-left: 100%;
  /* justify-content: center; */
}
}

@media (max-width: 920px){
  .hamburger-menu-container{
      display: flex;
      
      margin-top: -40px;
  }
  nav-links > ul{
  display: flex;
  align-items: center;
  margin-left: 0;
}

  #check{
      display: block;
  }

  .nav-btn{
      position: fixed;
      height: calc(100vh - 3rem);
      top: 3rem;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateX(100%);
      transition: .65s;
  }

  #check:checked ~ .nav-btn{
      transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign{
      animation: animation .5s ease forwards var(--i);
  }

  .nav-links{
      flex: initial;
      width: 100%;
  }

  .nav-links > ul{
      flex-direction: column;
  }

  .nav-link{
      width: 50%;
      opacity: 0;
      transform: translateY(15px);
  }

  .nav-link > a{
      line-height: 1;
      padding: 1.6rem 2rem;
  }

  .nav-link:hover > a{
      transform: scale(1);
      background-color: #797a7a;
  }

  .dropdown, .dropdown.second{
      position: initial;
      top: initial;
      left: initial;
      transform: initial;
      opacity: 1;
      pointer-events: auto;
      width: 100%;
      padding: 0;
      background-color: #ffffff;
      display: none;
  }
  
  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown{
      display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i{
      transform: rotate(360deg);
  }

  .dropdown-link > a{
      background-color: transparent;
      color: rgb(0, 0, 0);
      padding: 1.2rem 2rem;
      line-height: 1;
  }

  .dropdown.second .dropdown-link > a{
      padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a{
      padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)){
      border-bottom: none;
  }
 

  .dropdown-link:hover > a{
      background-color: #999a9b;
  }

  .dropdown-link:first-child:hover ~ .arrow{
      background-color: #999ea0;
  }

  .nav-link > a > i{
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
  }

  .dropdown i{
      font-size: 1rem;
      transition: .7s;
  }

  .log-sign{
      flex: initial;
      width: 100%;
      padding: 1.5rem 1.9rem;
      justify-content: flex-start;
      opacity: 0;
      transform: translateY(15px);
  }
}


